{% extends 'layouts/clean.njk' %}
{% set title = "Вход" %}

{% block content %}
<main class="login">
    <section class="container">
        <section class="row justify-content-center">
            <section class="col-md-4">
                <form class="login-form">
                    <img class="login-logo" src="../images/common/logo.png" alt="Miller Music Amplified">

                    <div class="login-controls">
                        <span class="login-controls-current">Вход</span>
                        <span class="login-controls-divider">/</span>
                        <a class="login-controls-link" href="../signup.html">Регистрация</a>
                    </div>

                    <div class="login-form-item">
                        <label class="login-form-item-label" for="phone">Телефон</label>
                        <input class="login-form-item-input" type="text" data-inputmask="'mask': '+7(799) 999-99-99'">
                    </div>
                    <div class="login-form-item">
                        <label class="login-form-item-label" for="phone">Пароль</label>
                        <input class="login-form-item-input" type="password">
                    </div>

                    <button class="login-form-btn" type="submit" name="button">Войти</button>
                </form>

            </section>
        </section>
    </section>
</main>
{% endblock %}
