{% extends 'layouts/default.njk' %}
{% set title = "Топ участников" %}

{% block content %}
<main class="top">
    <section class="container">
        <h1 class="top-head">Топ участников</h1>

        <div class="top-table">

            <div class="top-table-row">
                <span class="top-table-place gold">1</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place silver">2</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place bronze">3</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">4</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">5</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">6</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">7</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">8</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">9</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

            <div class="top-table-row">
                <span class="top-table-place">10</span>
                <div class="top-table-user">
                    <span class="top-table-name">Алексей</span>
                    <span class="top-table-phone">+7 777 320-**-12</span>
                </div>
                <span class="top-table-points">128 баллов</span>
            </div>

        </div>
    </section>
</main>
{% endblock %}
