<header class="header" id="header">
    <div class="container">
        <nav class="header-menu">
            <div class="header-toggler">
                <span class="header-toggler__toggle"></span>
            </div>
            <div class="header-menu-part">
                <a class="header-link" href="../#prizes">Призы</a>
                <a class="header-link" href="../top.html">Топ Участников</a>
                <a class="header-link" href="../#rules">Правила</a>
                {# <a class="header-link" href="../battle.html">DJ Battle</a> #}
            </div>
            <a class="header-logo" href="/">
                <img class="header-logo__img" src="../images/common/logo.png" alt="Miller Music Amplified">
            </a>
            <div class="header-menu-part">
                <a class="header-link user" href="../login.html">Мой Miller Music Amplified</a>
                <div class="header-lang">
                    <a class="header-link" href="#">Qaz</a>
                    <a class="header-link header-link--selected" href="#">Рус</a>
                </div>
            </div>
            <a class="header-user" href="../login.html">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                    <path d="M189 61c0 33.7-27.3 61-61 61S67 94.6 67 61 94.3 0 128 0 189 27.3 189 61zM249.3 256c-6.1-61.6-58.1-109.7-121.3-109.7S12.8 194.4 6.7 256H249.3z"/>
                </svg>
            </a>
        </nav>
    </div>
</header>
